<!DOCTYPE html>
<html {% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
<head>
  <meta charset="UTF-8">
  <!-- TODO: Bind to the Route's title -->
  <title>Title</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css"/>
  {% for (var css in o.htmlWebpackPlugin.files.css) { %}
  <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
  {% } %}
</head>
<body>
<div data-drag-target="dragTarget">Drag Me!</div>
<div class="container-fluid">
  <div class="page-header">
    <h1>RxJS  Drag and Drop Example</h1>
    <p class="lead">Example to show coordinating events to perform drag and drop</p>
  </div>
</div>

{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
  <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
  {% } %}
</body>
</html>
